html
    head
        title Battleship
        include imports
    body
        div(class="container center-align scale-transition")
            div(class="row") 
                h1 Waiting
                br
                h2 Use ID #{roomNum} to join.